*{
  font-family: 'Lato', sans-serif;
}

html{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 500px;
}

.home-page {
  padding: 120px 20px 350px 20px;
  height: min-content;
}

.sign-in-page {
  padding: 100px 0px 0px 0px;
  height: 100%;
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}


form {
  display: flex;
  width: 100%;
  justify-content: center;
}


.wide {
  width: 100%;
  max-width: 1000px;
  grid-column: 1/5;
}

.font-big {
  font-size: 300px;
}

.hidden-button{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow .3s;
}

.nav {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  position: fixed;
  flex-basis: 1fr 1fr auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0px 5% 0px 5%;
}

.nav-left {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.nav-right form,
.nav-right span{
  width: min-content;
  margin: 0px 10px 0px 10px;
}

.addcoin-button{
  position: absolute;
  height: 50px;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 25px;
  transition: box-shadow .5s;
}

.addcoin-button:hover{
  box-shadow: 0px 0px 5px rgba(255, 189, 6, 0.5);
}

.nav-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 150px;
  max-width: 1000px;
}

.nav-logo {
  height: 70%;
  margin: 0px 30px 0px 0px;
}

.small-icon {
  width: 25px;
  margin: 0px 10px 0px 0px;
  object-fit: contain;
}


.ttl {
  font-size: 32px;
  font-weight: bold;
  color: rgb(15, 79, 90);
}

.searchbar {
  height: 50px;
  width: 80%;
  border: 2px solid rgba(15, 79, 90, 0.2);
  border-radius: 25px;
  padding: 2px 20px 0px 20px;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.671);
}

.searchbar::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: lightgrey;
}

.searchbar:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.round {
  padding: 0px;
  width: 50px
}

.pink {
  background-image: linear-gradient(262.38deg, rgba(145, 31, 199, 0.12), rgba(176, 204, 245, 0.4), rgba(217, 233, 233, 0.4));
}

.white {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(345deg) brightness(102%) contrast(101%);
}

.icon {
  width: 25px;
}

.green {
  background-image: linear-gradient(319.49deg, rgb(7, 196, 196) 1.87%, rgb(150, 207, 156) 109.19%);
}

.button {
  background-color: white;
  border: none;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  height: 50px;
  font-size: 15px;
  transition: box-shadow .15s;
}

.cart-count {
  position: absolute;
  top: 15px;
  right: -2px;
  background-color: red;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
}


.green:hover {
  background-image: linear-gradient(319.49deg, rgb(0, 166, 166) 1.87%, rgb(120, 177, 126) 109.19%);
  cursor: pointer;
}

.side-button:hover {
  box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.1);
  background-color: #6cd4a4;
  cursor: pointer;
}

.footer {
  position: absolute;
  background-image: linear-gradient(326.08deg, rgba(3, 46, 85, 0.8) -0.33%, rgba(74, 181, 131, 0.8) 165.76%);
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  color: white;
}

.main{
  position: relative;
  z-index: 0;

  display: grid;
  width: 100%;
  height: min-content;
  justify-items: center;
}

.store-grid{
  row-gap: 200px;
}

.item-section {
  width: 78%;
}

.item-title {
  color: rgb(15, 79, 90);
  font-size: 36px;
}

.card-group{
  width: 100%;
  margin: 0px 25px 0px 0px;
  display: flex;
  flex: 1 1 230px;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.card {
  height: 600px;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  background-color: white;
  flex: 360px;
  margin-bottom: 70px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow .15s;
}

.card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-head {
  color: white;
  background-color: rgb(218, 235, 233);
  width: 100%;
  height: 45%;
  text-align: center;
  border: none;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
}

.card-body {
  padding: 30px;
}

.item-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  width: 100%;
  justify-items: start;
  align-items: center;
}

.item-name {
  font-size: 20px;
  height: 100%;
  font-weight: bold;
  color: rgb(30, 114, 139);
  display: flex;
  align-items: center;
}

.item-desc {
  Text-align: center;
  background-color: rgb(232, 128, 183);
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 13px;
  border-radius: 5px;
  padding: 10px 20px;
}

.item-price,
.coin-balance {
  font-weight: bold; color: #F1C40F;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img {
  max-width: 270px;
  max-height: 270px;
  object-fit: contain;
  margin: 10px;
}

.form-container {
  width: 60%;
  height: max-content;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
}

.input-grid{
  min-width: 200px;
  display: grid;
  padding: 40px 0px 40px 0px;
  grid-template-columns: 80%;
  grid-gap: 15px;
}

.input-grid input{
  text-align: left;
  font-weight: bold;
  padding: 0px 20px 0px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  height: 55px;
}

.input-grid input::placeholder{
  text-align: left;
  color: rgba(0, 0, 0, 0.35)
}

.sign-in-header{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: .5s;
  -webkit-transition: 1s;
}

.sign-in-header button{
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 20px;
  background-color: rgba(0,0,0,0.015);
  transition: background-color 0.3s;
  cursor: pointer;
}

.sign-in-header button:hover{
  background-color: rgba(0,0,0,0.05);
}

.sign-in-header button:active{
  background-color: rgba(0,0,0,0.005);
}

.gray{
  background-color: transparent;
  font-weight: bold;
  color:rgba(3, 46, 85, 0.8);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.6s;
  white-space: nowrap;
}

.gray:hover{
  background-color: rgba(3, 46, 85, 0.15);
}

.profile-popup{
  position: absolute;
  background-color: white;
  top: 100px;
  height: 100px;
  width: 250px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 0px 0px 12px 10px;
}

.profile-popup form,
.profile-popup button{
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0px 0px 10px 10px;
}

.profile-popup input{
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 0px 0px 10px 10px;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
}


.cart-card{
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(248, 255, 240));
  border: 1px solid rgb(223, 237, 213);
  border-radius: 25px;
  width: min-content;
  max-width: 300px;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-basis: auto auto;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgba(3, 46, 85, 0.8);
  transition: box-shadow 0.3s;
  position: relative;
  flex: 0px;
}

.cart-grid{
  width: 80%;
  max-width: 1000px;

  padding: 50px;
  border-radius: 25px;
  background-image: linear-gradient(135deg, rgb(255, 255, 255), rgb(248, 255, 240));
  border: 2px solid rgba(223, 237, 213, 0.5);
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  row-gap: 50px;
  justify-items: center;
}


.cart-card:hover{
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cartItem-img{
  width: 130px;
  object-fit: contain;
}

.alert,
.notif{
  padding: 10px;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  width: max-content;
  height: 30px;
  font-weight: bold;
  margin: 20px;
  display: flex;
  align-items: center;
}

.alert{
  background-color: rgba(243, 0, 0, 0.2);
  color: rgba(167, 70, 70, 0.7);
  border: 1px solid rgba(167, 70, 70, 0.4);
}

.notif{
  background-color: rgba(0, 243, 0, 0.2);
  color: rgba(97, 167, 70, 0.7);
  border: 1px solid rgba(86, 167, 70, 0.4);
}

.remove{
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  font-size: 15px;
  border: none;
  position: absolute;
  top: 10px;
  right: 12px;
  height: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.remove:hover{
  color: rgba(240, 9, 9, 0.4);
}

.profile-grid{
  margin: 50px 0px 0px 0px;
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 90%;
  height: min-content;
  max-width: 1200px;
}

.user-info{
  display: grid;
  grid-template-rows: repeat(4, min-content);
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 30px;
}

.user-info *{
  margin: 5px;
}

.transaction-container{
  width: 100%;
  height: min-content;
  opacity: 0.9;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}

.transaction-entry{
  width: 100%;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px 10px;
}

.transaction-rows{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.modal{
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .remove{
  font-size: 30px;
  top: 30px;
  right: 50px;
  color:rgb(15, 79, 90);
  transition: font-size 0.15s;
}

.modal .remove:hover{
  font-size: 35px;
}

.coinshop-container{
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  max-width: 1300px;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.coin-group{
  margin: 0;
  padding: 20px;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.coin-card{
  background-color: white;
  margin: 0px 20px;
  flex: 1 1 30%;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  height: 30%;
  box-shadow: 0px 5px 15px rgba(151, 110, 20, 0.137);
  transition: box-shadow 0.15s, height 0.15s;
}

.coin-card:hover{
  height: 31%;
  box-shadow: 0px 10px 30px rgba(160, 111, 5, 0.185);
  cursor: pointer;
}

.coin-card .card-head{
  position: relative;
  padding: 10px;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);;
}

.coin-card .card-body{
  width: 100%;
  height: 45%;
  padding: 10px;
  display: grid;
  grid-template-rows: min-content min-content;
  justify-content: space-around;
  justify-items: center;
  row-gap: 10px;
}

.coin-card .button{
  width: auto;
  height: 40px;
  border-radius: 20px;
  color: rgb(214, 170, 24);
  border: 2px solid rgba(255, 217, 0, 0.288);
  transition: background-color 0.3s, color 0.3s;
}

.coin-card .button:hover{
  color: white;
  background-color: gold;
  cursor: pointer;
}


.coin-img{
  object-fit: contain;
  width: 100px;
}

.price{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: lightpink;
  width: 35%;
  border-radius: 5px 0px 0px 0px;
}

.coin-card .item-name{
  font-size: 18px;
}

.payment-grid{
  background-color: rgba(246,255,241);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid rgba(168, 184, 160,0.3);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  color: rgba(15, 79, 90, 0.7);
}

.payment-grid .coin-balance{
  background-color: white;
  border-radius: 0px 0px 25px 25px;
  color: gold;
}

.payment-body{
  height: 100%;
  padding: 0px 50px 0px 50px;
  display: grid;
  grid-template-rows: repeat(4, min-content);
}

.payment-body h4{
  margin: 10px 0px 10px 0px;
}

.payment-computation{
  padding: 20px 50px 0px 50px ;
  display: grid;
  grid-template-rows: repeat(2, min-content);
}


.payment-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}